<% provide(:head_title, "Novo Quadro") %>

<h1>New board</h1>

<%= simple_form_for [:users, @project, @board] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, required: true, autofocus: true %>
    <%= f.input :position %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Salvar", class: "btn btn-outline-primary" %>
  </div>
<% end %>

